<h1>Activities</h1>
<!-- <pre><%#= @list_options.to_yaml %></pre> -->

<div id="list_options">
  <% form_tag(activities_path, :method => :get) do %>
    <table>
      <tr>
        <td>Search</td>
        <td><%= text_field_tag('search', @list_options[:search]) %></td>
        <td>Project</td>
        <td>
          <%= select_tag('for_project', options_for_select(
              Project.all_with_client.sorted_by('client_and_name_a_to_z').map{|p|
                  [p.client_and_name, p.id.to_s]}.unshift(['- Any -', nil]),
              @list_options[:for_project])) %>
        </td>
      </tr>
      <tr>
        <td>Sorted by</td>
        <td>
          <%= select_tag('sorted_by',options_for_select(
              [
                ['most recent', 'most_recent'],
                ['client, project name (a-z)', 'client_project_name_a_to_z'],
                ['duration (longest first)', 'duration_longest_first'],
                ['duration (shortest first)', 'duration_shortest_first']
              ],
              @list_options[:sorted_by])) %>
        </td>
        <td></td>
        <td><%= submit_tag "Update list" %> or <%= link_to('Reset', activities_path) %></td>
      </tr>
    </table>
  <% end %>
</div>

<div class="pagination_group">
  <%= will_paginate(@activities) %>
  <%= page_entries_info(@activities) %>
</div>

<div>
  <table id="Activities">
    <tr>
      <th>Client | Project</th>
      <th>Description</th>
      <th>Role</th>
      <th>Duration</th>
      <th>$</th>
      <th>Date</th>
      <th></th>
    </tr>
    <% @activities.each do |activity| %>
      <%= render :partial => activity %>
    <% end %>
  </table>
</div>

<div class="pagination_group">
  <%= will_paginate(@activities) %>
</div>
